node_modules
*.log

### keystone production build files ###
dist/*

### Nextjs files ###
client/.next

### VisualStudioCode ###
.vscode/*

### VisualStudioCode Patch ###
# Ignore all local history of files
.history